body > div {
	margin: 0;
	display: flex;
	position: relative;
}
#sectionA {
	background: blue;
	width: 33%;
}
#sectionB {
	background: red;
	width: 33%;
}
#sectionC {
	background: green;
	width: 33%;
}
